body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.judul{
    padding-top: 10px;
    text-align: center;
}
.container .table{
    margin: auto;
    height: 50%;
    
}